mixin video(video)

    a(href=`/videos/${video.id}`)
        div(class="videoBox")
            img
            span.video-title=`${video.title} `
            span.video-owner=`${video.owner.name}`
                span.video-views=` | ${video.meta.views} views`
            small=video.createdAt
