extends ../base.pug

block content 
    div(class="edit-profile-content")
        h3=loggedInUser.name
        img(src=loggedInUser.avatarUrl, width="100", height="100")
        form.edit-profileForm( method="POST", enctype="multipart/form-data")
            dev
                label(for="avatar") Avatar
                input(type="file", id="avatar", name="avatar", accept=".png, .jpg, .jepg")
            dev.formDev
                h5="name"
                input.edit-profileForm__input(type="text", name="name", required, placeholder="name", value=loggedInUser.name)
            dev.formDev
                h5="email"
                if errorMessageOfEmail 
                    span=errorMessageOfEmail
                input.edit-profileForm__input(type="email", name="email", required, placeholder="email", value=loggedInUser.email)
            dev.formDev
                h5="username"
                if errorMessageOfUsername 
                    span=errorMessageOfUsername
                input.edit-profileForm__input(type="text", name="username", required, placeholder="username", value=loggedInUser.username)
            dev.formDev
                h5="location"
                input.edit-profileForm__input(type="text", name="location", required, placeholder="location", value=loggedInUser.location)
            input(type="submit" value="Update Profile")

            if !loggedInUser.socialOnly
                a(href="change-password") Change password &rarr;