extends ../base.pug

block content 
    h3=loggedInUser.name
    img(src=loggedInUser.avatarUrl, width="100", height="100")
    form( method="POST", enctype="multipart/form-data")
        dev 
            label(for="avatar") Avatar
            input(type="file", id="avatar", name="avatar", accept=".png, .jpg, .jepg")
            hr
        dev 
            h5="name"
            input(type="text", name="name", required, placeholder="name", value=loggedInUser.name)
            hr
        dev
            h5="email"
            if errorMessageOfEmail 
                span=errorMessageOfEmail
            input(type="email", name="email", required, placeholder="email", value=loggedInUser.email)
            hr
        dev
            h5="username"
            if errorMessageOfUsername 
                span=errorMessageOfUsername
            input(type="text", name="username", required, placeholder="username", value=loggedInUser.username)
            hr
        dev
            h5="location"
            input(type="text", name="location", required, placeholder="location", value=loggedInUser.location)
            hr
        input(type="submit" value="Update Profile")

        if !loggedInUser.socialOnly
            hr
            a(href="change-password") Change password &rarr;